<!DOCTYPE html>
<html lang="en">
<html xmlns:th='http://www.thymeleaf.org' data-bs-theme="dark" lang=en>

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Sidebar Hover</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header>
        <!-- SIDEBAR  -->
        <div class="sidebar d-flex flex-column">
            <div class="d-flex flex-column align-items-center py-3">
                <img class="sidebar-img" th:src="@{/img/skillmart-logo.png}" alt="skillmart logo">
                <h5 class="mt-2">skillMART</h5>
            </div>
            <a th:href="@{/dash/home}" class="nav-link">
                <i class="bi bi-house-door"></i>
                <span>Dashboard</span>
            </a>
            <a th:href="@{/dash/products}" class="nav-link">
                <i class="bi bi-bar-chart"></i>
                <span>Prodotti</span>
            </a>
            <a th:href="@{/dash/runningOut}" class="nav-link">
                <i class="bi bi-bar-chart"></i>
                <span>Running out</span>
            </a>
            <a th:href="@{/dash/outOfStock}" class="nav-link">
                <i class="bi bi-bar-chart"></i>
                <span>Out of stock</span>
            </a>
            <div class="mt-auto mb-2">
                <span class="mt-auto ms-3" th:text="Ciao + ' ' + ${user.username}"></span>
                <img class="profile" th:src="@{/img/profile1.png}" alt="">
                <a th:href="@{/logout}" class="nav-link mt-auto">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>

    </header>

    <main>
        <div class="container detail-main-content">
            <!-- TITLE  -->
            <div class="col-12">
                <div class="roe">
                    <h1 th:text="${product.nome}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <!-- FORM  -->
                    <form th:action="@{/dash/{id}/edit(id=${product.id})}" enctype="multipart/form-data"  method="post" th:object="${product}"
                        class="glass p-4 mx-auto" style="max-width: 480px;">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome prodotto</label>
                            <input type="text" id="nome" th:field="*{nome}" class="form-control" placeholder="Inserisci il nome"
                                th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="file">Immagine Prodotto</label>
                            <input type="file" id="photoPath" name="file" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="descrizione" class="form-label">Descrizione</label>
                            <textarea id="descrizione" th:field="*{descrizione}" class="form-control" rows="3"
                                placeholder="Descrizione del prodotto"></textarea>
                        </div>
                        
                        <div class="mb-3 form-check">
                            <input type="checkbox" id="evidence" th:field="*{evidence}" class="form-check-input" />
                            <label for="evidence" class="form-check-label">Evidenza</label>
                        </div>
                        
                        <div class="mb-3">
                            <label for="categoria" class="form-label">Categoria</label>
                            <select id="categoria" th:field="*{categoria}" class="form-select"
                                th:classappend="${#fields.hasErrors('categoria')} ? 'is-invalid'">
                                <option th:each="cat : ${category}" th:value="${cat.id}" th:text="${cat.nome}">
                                </option>
                            </select>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="marca" class="form-label">Marca</label>
                            <select id="marca" th:field="*{marca}" class="form-select"
                                th:classappend="${#fields.hasErrors('marca')} ? 'is-invalid'">
                                <option th:each="marca : ${brand}" th:value="${marca.id}" th:text="${marca.nome}">
                                </option>
                            </select>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="prezzo" class="form-label">Prezzo (€)</label>
                            <input type="number" id="prezzo" th:field="*{prezzo}" step="0.01" class="form-control" placeholder="0.00"
                                th:classappend="${#fields.hasErrors('prezzo')} ? 'is-invalid'" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}"></div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="quantita" class="form-label">Quantità</label>
                            <input type="number" id="quantita" th:field="*{quantita}" class="form-control" placeholder="0"
                                th:classappend="${#fields.hasErrors('quantita')} ? 'is-invalid'" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('quantita')}" th:errors="*{quantita}"></div>
                        </div>
                        
                        <div class="mb-4">
                            <label for="dataProduzione" class="form-label">Data di produzione</label>
                            <input type="date" id="dataProduzione" th:field="*{dataProduzione}" class="form-control"
                                th:classappend="${#fields.hasErrors('dataProduzione')} ? 'is-invalid'" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('dataProduzione')}" th:errors="*{dataProduzione}"></div>
                        </div>
                        <button type="submit" class="btn btn-warning w-100 fw-semibold rounded-4"
                            th:text="${isUpdate} ? 'Aggiorna' : 'Inserisci'"></button>
                    </form>
                </div>

                <div class="col-4">
                    <img th:src="@{/img/{imageName}(imageName=${product.photoPath})}" alt="Photo"
                        class="img-fluid mx-auto">
                </div>
            </div>
        </div>
        <footer class="text-center mt-2 text-white-50">
            &copy; 2025 skillMart – Tutti i diritti riservati.
            <a class="text-muted text-decoration-none" href="https://github.com/RaffaeleVallifuoco" target="_blank"
                rel="noopener noreferrer">Visit my Github page</a>
        </footer>
    </main>

    <!-- Bootstrap bundle -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz'
        crossorigin='anonymous'></script>

</body>

</html>