<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org' data-bs-theme="dark" lang=en>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>

    </style>


</head>


<body>
    <!-- HEADER -->

    <header>
        <nav class="navbar navbar-expand-md glass_nav">
            <div class="container-fluid my-o py-0 ">
                <!-- Logo -->
                <a class="navbar-brand icon-link icon-link-hover fs-4 my-0 py-0 mx-5" th:href="@{/index/home}">
                    <img th:src="@{/img/nozama_logo_white.png}" alt="nozama ogo" class="navbar-logo my-o py-0" width="90" />
                </a>
    
                <!-- Bottone toggler per collapse su sm -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Contenuto della navbar che collassa -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="me-auto mx-4">
                        <div class="dropdown mx-4">
                            <button class="btn glass dropdown-toggle" type="button" id="categoriesDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Categorie
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                                <li th:each="categories : ${category}">
                                    <a class="dropdown-item" th:text="${categories.nome}"
                                        th:href="@{'/index/home/' + ${categories.id}}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <form class="d-flex ms-auto w-25 opacity-50 position-relative" role="search" method="get"
                        th:action="@{/index/home}">
                        <input type="text" name="keyword" class="nav_input form-control text-white border-0  pe-5"
                            placeholder="Cerca nel sito" aria-label="cerca" th:value="${keyword}">
                        <a th:if="${keyword != null && !keyword.isEmpty()}" th:href="@{/index}"
                            class="position-absolute end-0 top-50 translate-middle-y me-3 text-decoration-none ">
                            <a class="navbar-brand icon-link icon-link-hover fs-4 my-0 py-0 mx-5" th:href="@{/index}">
                                <img alt="nozama ogo" class="bi bi-x-circle navbar-logo my-o py-0" width="90" />
                            </a>
                        </a>
                    </form>
    
                    <div class="dropdown mx-3" th:if="${user != null}">
                        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:src="@{/img/{image}(image=${user.photoPath})}" alt="Foto profilo" width="40" height="40"
                                class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser">
                            <li>
                                <span class="dropdown-item-text fw-bold" th:text="Ciao + ' ' + ${user.username}"></span>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <!-- MAIN -->


    <main>

        <div class="container">
            <div class="col-lg-12">
                <!-- FIRST ROW  -->
                <div class="row">
                    <!-- CAROUSEL  -->
                    <div id="carouselExampleAutoplaying" class="carousel slide mt-4 opacity-75" data-bs-ride="carousel">
                        <div class="fs-6 text-center accent">Prodotti in evidenza</div>
                        <div id="postCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item" th:each="product, iter : ${evidence}"
                                    th:classappend="${iter.index == 0} ? 'active'">
                                    <div class="carousel_card text-center align-item-center carousel_card_bg"
                                        style="width: 100%; max-height: 350px; overflow: hidden;">
                                        <div class="card-body text-center card_body">
                                            <!-- IMG -->
                                            <img th:src="@{/img/{imageName}(imageName=${product.photoPath})}"
                                                alt="Photo" class="img-fluid w-100 d-block mx-auto carousel_img"
                                                style="object-fit: cover; height: auto; max-height: 200px;">
                                            <h5 class="card-title fs-4 m-2" th:text="${product.nome}"></h5>
                                            <!-- BODY  -->

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                <!-- SECOND ROW -->
                <div class="row">
                    <!-- CARD DETAIL -->
                    <div class="card mt-5 no-hover" style=" width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img th:src="@{/img/{imageName}(imageName=${product.photoPath})}" alt="Photo"
                                    class="img-fluid w-100 d-block mx-auto carousel_img"
                                    style="object-fit: cover; height: auto; min-height: 50vh;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body glass" style="min-height:50vh;">
                                    <h5 th:text="${product.marca.nome}"></h5>
                                    <h1 class="card-title" th:text="${product.nome}"></h1>
                                    <p class="card-text fs-3" th:text="${product.descrizione}"></p>
                                    <div class="d-flex justify-content-between mt-3">
                                        <p class="fs-4 accent">
                                            <span th:text="${product.prezzo}"></span>&nbsp;&euro;
                                        </p>
                                        <span th:text="${product.categoria.nome}"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>




    <!-- Bootstrap bundle -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz'
        crossorigin='anonymous'></script>

</body>

</html>